/* your css code here. If applicable */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#grid {
  display: grid;
  height: 100vh;
  gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#grid div {
  background: #3b7f1e;
  color: white;
  font-size: 40px;
  padding: 20px;

}
.b1  { grid-column: 1 / -1; grid-row: 1; }

.b2  { grid-column: 1; grid-row: 2 / 6; }

.b3  { grid-column: 2; grid-row: 2; }
.b4  { grid-column: 3 / 5; grid-row: 2; }

.b5  { grid-column: 2 / 4; grid-row: 3; }
.b6  { grid-column: 4; grid-row: 3; }

.b7  { grid-column: 2; grid-row: 4; }
.b8  { grid-column: 3; grid-row: 4; }
.b9  { grid-column: 4; grid-row: 4; }

.b10 { grid-column: 2 / -1; grid-row: 5; }