/*  your css code here. If applicable */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#grid {
  display: grid;
  height: 100vh;
  gap: 10px;
  padding: 10;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#grid div {
  background: #3b7f1e;
  color: white;
  font-size: 40px;
  padding: 20px;
}


#grid div:nth-child(1) {
  grid-column: 1 / -1;
}

#grid div:nth-child(2) {
  grid-row: 2 / -1;
  grid-column: 1 / 2;
}

#grid div:nth-child(3) {
  grid-column: 2 / 4;
}

#grid div:nth-child(4) {
  grid-column: 4 / 5;
}

#grid div:nth-child(5) {
  grid-column: 2 / 4;
}

#grid div:nth-child(6) {
  grid-column: 4 / 5;
}

#grid div:nth-child(7) {
  grid-column: 2 / 3;
}

#grid div:nth-child(8) {
  grid-column: 3 / 4;
}

#grid div:nth-child(9) {
  grid-column: 4 / 5;
}

#grid div:nth-child(10) {
  grid-column: 2 / -1;
}
